body {
  background: #1e1e1e;
  font-family: Arial;
  color: white;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.calculadora {
  background: #2d2d2d;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

#display {
  background: black;
  color: #00ff88;
  font-size: 32px;
  padding: 15px;
  text-align: right;
  margin-bottom: 10px;
  border-radius: 5px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  background: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #666;
}

.igual {
  background: #00aa55;
  grid-row: span 2;
}

.zero {
  grid-column: span 2;
}

.historico {
  background: #2d2d2d;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

.historico ul {
  list-style: none;
  padding: 0;
}

.historico li {
  padding: 5px;
  border-bottom: 1px solid #444;
}